name: test

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: python -m pip install
          pip install -r requirements.txt
          playwright install

      - name: Run UI tests with report
        run: pytest --alluredir=allure-results

      - name: upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
  report:
    if: always()
    needs: tests
    runs-on: ubuntu-latest

    steps:
      - name: download allure-results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      - name: report generation
        uses: simple-elf/allure-report-action@v1.12
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
